.commonHomeWrapper{
    background-image: url("../topView.jpg");
    background-position: center;
    background-size: cover;

 //   background-repeat: no-repeat;
    height: 300px;
    .searchBox{
        display: flex;
        padding: 50px;
        justify-content: space-around;
   }
}
