@keyframes  sliderMove {
    0% {width: 0%;}
    100% {width: 100%;}
}
.commonHomeWrapper{
      background-image: url("../house.jpg");
      background-position: center;
      background-size: cover;

 //   background-repeat: no-repeat;
    height: 300px;
    .searchBox{
        display: flex;
        padding: 50px;
        justify-content: space-around;
   }
   .commonSlider{
     margin-top: 7px;
     animation: sliderMove 4s;
  }
  
}
