@keyframes cardMove {
    from {opacity: 0; padding-top: 200px;}
    to {opacity: 1; padding-top: 140px;}
}
@keyframes  textMove {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.dashboardWrapper{
    background-image: url("../gMap.png");
 //   background-attachment: fixed;
    background-repeat: repeat no-repeat;
    height: 300px; 
    
    .cardsWrapper{
        display: flex;
        padding-top: 140px;
        justify-content: space-around;
        animation: cardMove 2s;
    }
    .craouselText{
        animation: textMove 2s;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 140px;
        margin:auto;
        .text{
            width: 326px;
            color: grey;
            justify-content: center;
            text-align: center;
        }
    }
}
