.location-search-input {
    padding: 10px;
    border: 1px solid #d4c8c8;
    border-radius: 6px;
    outline: none;
}

.autocomplete-dropdown-container {
    color: grey;
    text-align: start;
    position: absolute;
    .addressSuggst{
        padding: 10px;
        width: 100%;
    }
}