@keyframes fade{
    0% {opacity: 1;}
    50% {opacity: .5;}
    100% {opacity: 0;}
  }
  
  @-webkit-keyframes mover {
      100% { -webkit-transform: translateX(0); }
      0% { -webkit-transform: translateX(400px); }
     
    } 
    @-moz-keyframes mover {
      100% { -moz-transform: translateX(0); }
      0% { -moz-transform: translateX(400px); }
     
    } 
    @-o-keyframes mover {
    
      100% { -o-transform: translateX(0); }
      0% { -o-transform: translateX(400px); }
    } 
    @keyframes mover {
     
      100% { transform: translateX(0); }
      0% { transform: translateX(400px); }
    } 
  
  
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(5,137,220, 0.4);
      }
      70% {
          -webkit-box-shadow: 0 0 0 10px rgba(5,137,220, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(5,137,220, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba(5,137,220, 0.4);
        box-shadow: 0 0 0 0 rgba(5,137,220, 0.4);
      }
      70% {
          -moz-box-shadow: 0 0 0 10px rgba(5,137,220, 0);
          box-shadow: 0 0 0 10px rgba(5,137,220, 0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 rgba(5,137,220, 0);
          box-shadow: 0 0 0 0 rgba(5,137,220, 0);
      }
    }
  
  
    @keyframes popUpAnimation {
      0%   { opacity: 0; }
      25%  {opacity: 1;}
      50%  {opacity: 1;}
      75%  {opacity: 1;}
      100% { opacity: 0; }
    }
    
    